.container {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;

  .wrapper {
    align-self: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url('./static/background-min.png');
  }

  .firstText {
    margin-top: 30px;
  }

  p {
    margin: 0;
  }

  .centredTitle {
    width: 975px;
    margin: 0 auto;
    text-align: center;
  }

  .contentPaneContainer {
    .box {
      p {
        font-weight: 300;
        font-size: 28px;
        line-height: 35px;
        color: #000;
        text-align: center;
      }
    }
  }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

  .container {
    height: 1450px;

    .wrapper {
      width: 90%;
      margin-top: 124px;
      min-height: 710px;
      background-size: 700px;
      background-position: 100% 100%;

      .textContainer {
        max-width: 610px;
        width: 40%;
        margin-top: 45px;
      }
    }

    .centredTitle {
      margin-top: 174px;
    }
  }

  .contentPaneContainer {
    align-self: center;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: 165px;

    .box {
      width: 330px;
      height: 330px;

      font-size: 35px;
      line-height: 44px;
    }
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

  .container {
    height: 1450px;

    .wrapper {
      width: 90%;
      margin-top: 118px;
      min-height: 770px;
      background-size: 848px;
      background-position: center 100%;

      .textContainer {
        width: 100%;

        .title{
          font-size: 35px;
          line-height: 44px;
        }

        .firstText{
          font-size: 20px;
          line-height: 30px;
        }
      }
    }

    .centredTitle {
      margin-top: 174px;
    }
  }

  .contentPaneContainer {
    align-self: center;
    width: 90%;
    height: 360px;
    display: flex;
    justify-content: space-around;
    margin-top: 165px;

    .box {
      width: 300px;
      height: 300px;

      p {
        width: 95%;

      }
    }
  }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

  .container {
    height: 2050px;

    .wrapper {
      width: 90%;
      margin-top: 118px;
      min-height: 770px;
      background-size: 748px;
      background-position: center 100%;

      .textContainer {
        width: 100%;

        .title{
          font-size: 35px;
          line-height: 44px;
        }

        .firstText{
          font-size: 20px;
          line-height: 30px;
        }
      }
    }

    .centredTitle {
      margin-top: 20px;
      width: 90%;
    }
  }

  .contentPaneContainer {
    align-self: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 1300px;

    .box {
      width: 400px;
      height: 400px;

      p {
        width: 95%;

      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  .container {
    height: 1650px;

    .wrapper {
      width: 90%;
      margin-top: 50px;
      min-height: 610px;
      background-size: 470px;
      background-position: center 100%;

      .textContainer {
        width: 100%;

        .title{
          font-size: 25px;
          line-height: 34px;
        }

        .firstText{
          font-size: 20px;
          line-height: 30px;
        }
      }
    }

    .centredTitle {
      margin-top: 20px;
      width: 90%;
      font-size: 25px;
      line-height: 34px;
    }
  }

  .contentPaneContainer {
    align-self: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 1100px;

    .box {
      width: 330px;
      height: 330px;

      p {
        width: 95%;

      }
    }
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

  .container {
    height: 1350px;

    .wrapper {
      width: 90%;
      margin-top: 50px;
      background: none;
      min-height: auto;

      .textContainer {
        width: 100%;

        .title{
          font-size: 25px;
          line-height: 34px;
        }

        .firstText{
          font-size: 20px;
          line-height: 30px;
        }
      }
    }

    .centredTitle {
      width: 90%;
      font-size: 25px;
      line-height: 34px;
    }
  }

  .contentPaneContainer {
    align-self: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 860px;

    .box {
      width: 280px;
      height: 280px;

      p {
        width: 95%;

      }
    }
  }

}

/* Iphone 5 */
@media (max-width: 320px) {

}
