.container {
  width: 100%;
  height: 73vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    font-size: 48px;
  }

  p {
    font-size: 32px;
    text-align: center;
    margin: 0;
  }

  a {
    color: #000;

    &:visited {
      color: #000
    }
  }
}
