.container {
  width: 100%;
  background-color: #90A8CF;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0;
  }

  .button {
    font-family: Source Sans Pro, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    background-color: #FFE2AA;
    border: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    padding: 20px 70px;
    margin-top: 300px;
    cursor: pointer;
    -webkit-appearance: none;
    text-decoration: none;
    color: #000;
  }

  .title {
    margin-top: 150px;
    font-size: 55px;
  }

  .contentPaneContainer {
    align-self: center;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: 165px;

    .box {
      width: 430px;
      height: fit-content;

      font-size: 35px;
      line-height: 44px;

      img {
        margin-top: 50px;
      }

      p:nth-child(3) {
        font-weight: 300;
        font-size: 25px;
        line-height: 130%;
        color: #000;
        text-align: left;
        margin: 10px 40px 60px;
      }
    }
  }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

  .container {
    height: 900px;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

  .container {
    height: 900px;

    .contentPaneContainer {
      width: 99%;

      .box {
        width: 320px;

        p:nth-child(3) {
          margin: 10px 15px;
        }
      }
    }
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

  .container {
    height: 900px;

    .button {
      margin-top: 420px;
    }

    .title {
      margin-top: 100px;
    }

    .contentPaneContainer {
      margin-top: 100px;
      width: 90%;
      flex-direction: column;
      justify-content: space-around;
      min-height: 1600px;

      .box {
        width: 100%;

        img {
          width: 20%
        }
      }
    }
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  .container {
    height: 900px;

    .title {
      font-size: 45px;
      line-height: 55px;
      margin-top: 40px;
      text-align: center;
    }

    .contentPaneContainer {
      width: 99%;
      flex-direction: column;
      justify-content: space-around;
      min-height: 1600px;
      margin-top: 60px;

      .box {
        width: 100%;

        img {
          width: 20%
        }
      }
    }
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

  .container {
    height: 700px;

    .button {
      padding: 20px 40px;
      font-size: 25px;
      height: 80px;
    }

    .title {
      font-size: 28px;
      line-height: 35px;
      margin-top: 40px;
    }

    .contentPaneContainer {
      width: 95%;
      flex-direction: column;
      justify-content: space-around;
      min-height: 1350px;
      margin-top: 60px;

      .box {
        width: 100%;

        img {
          width: 40%;
          margin-top: 20px;
        }

        p:nth-child(2) {
          font-size: 27px;
          line-height: 35px;
        }

        p:nth-child(3) {
          font-weight: 300;
          font-size: 17px;
          line-height: 130%;
          color: #000;
          text-align: left;
          margin: 10px 40px 60px;
        }
      }
    }
  }
}

/* Iphone 5 */
@media (max-width: 320px) {

  .container {
    height: 700px;

    .button {
      padding: 20px 40px;
      font-size: 25px;
    }

    .title {
      font-size: 28px;
      line-height: 35px;
      margin-top: 40px;
    }

    .contentPaneContainer {
      width: 95%;
      flex-direction: column;
      justify-content: space-around;
      min-height: 1350px;
      margin-top: 60px;

      .box {
        width: 100%;

        img {
          width: 40%;
          margin-top: 20px;
        }

        p:nth-child(2) {
          font-size: 27px;
          line-height: 35px;
        }

        p:nth-child(3) {
          font-weight: 300;
          font-size: 17px;
          line-height: 130%;
          color: #000;
          text-align: left;
          margin: 10px 40px 60px;
        }
      }
    }
  }
}
