.select {
  width: 120px;
  height: 40px;
  border: 1px solid #8ccba2;
  background: #93dea0;
  font-size: 18px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 5px 10px;
}
