.container {
  width: 100%;
  height: 92vh;

  background-color: #93DEA0;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url('./static/welcomeHeader-min.png');

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
    text-align: center;
    height: 100%;
  }

  .textContainer {
    text-align: left;
  }
  .paragraph{
    margin-top: 20px;
  }

  p {
    margin: 0;
  }

}

@media screen and (min-width: 1200px) {

  .container{
    background-size: 800px;
    background-position: 90% 75%;
  }

  .textContainer{
    position: relative;
    width: 550px;
    margin-left: 145px;
    margin-top: 150px;
    .paragraph{
      width: 470px;
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 991px) {

  .container{
    background-size: 800px;
    background-position: 90% 85%;
  }

  .textContainer{
    position: relative;
    max-width: 474px;
    width: 40%;
    margin-left: 9%;
    margin-top: 94px;

  }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 990px) {
  .container{
    background-size: 600px;
    background-position: 50% 85%;

    .textContainer{
      width: 89%;
      margin: 65px auto;
    }
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  .container{
    background-size: 600px;
    background-position: 50% 85%;

    .textContainer{
      width: 89%;
      margin: 65px auto;

      .titleText {
        font-size: 40px;
      }
    }
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

  .container{
    background-size: 600px;
    background-position: 50% 85%;

    .textContainer{
      width: 89%;
      margin: 45px auto;

      .titleText {
        font-size: 40px;
        line-height: 40px;
      }
    }
  }
}

/* Iphone 5 */
@media (max-width: 320px) {

  .container {
    background-image: none;
    justify-content: center;
    display: flex;
    flex-direction: column;

    .wrapper {

      height: auto;
      .textContainer {

        p {
          text-align: center;
        }

        .titleText {
          font-size: 30px;
          line-height: 30px;
        }
      }
    }
  }
}
