.container{
  display: flex;
  background-color: #93DEA0;
  flex-direction: column;

  .rightPart{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a {
      font-size: 20px;
    }

    .email {
      text-decoration: none;
    }
  }
  div {
    display: flex;

    a {
      color: #000;
      font-family: "Source Sans Pro", serif;

      &:visited{
        color: #000;
      }
    }
  }
}

@media (min-width: 1200px) {

  .container {
    div {
      padding: 20px;
      justify-content: left;
      align-items: center;
      height: 50px;
    }

    .leftPart{
      display: flex;
      justify-content: space-around;
      a {
        font-size: 40px;
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {

  .container {
    div {
      padding: 5px 10px;
      justify-content: left;
      align-items: center;
      height: 50px;
    }

    .leftPart {
      display: flex;
      justify-content: space-around;

      a {
        font-size: 30px;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .container {
    div {
      padding: 5px 10px;
      justify-content: left;
      align-items: center;
      height: 50px;
    }

    .leftPart {
      display: flex;
      justify-content: space-around;

      a {
        font-size: 30px;
      }
    }
  }
}
@media (max-width: 767px){
  .container {
    div {
      padding: 5px 10px;
      justify-content: left;
      align-items: center;
      height: 50px;
    }

    .leftPart {
      display: flex;
      justify-content: space-around;

      a {
        font-size: 30px;
      }
    }
  }
}
@media screen and (max-width: 767px) and (orientation: landscape){}
@media (max-width: 480px) and (orientation: portrait){}
@media (max-width: 320px){}
